body {
    background-color: ivory;
}

#table {
    position: absolute;
    top: 50%;
    left: 0px;

    width: 100%;
    height: 50%;
    background: brown;
}

#dessert1 {
    position: absolute;
    top: 15%;
    left: 30%;
    transform: scale(1.5);
}

#waffle {
    position: absolute;
    top: 50px;
    left: 50px;
    rotate: 45deg;
}
.waffle-base {
    width: 145px;
    height: 145px;
    border-radius: 10px;
    background: linear-gradient(-45deg,coral,brown);
}
.waffle-circle {
    position: absolute;
    rotate: -45deg;
    top: 5px;
    left: 5px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(coral,brown);
}
.col2 {
    margin-left: 35px;
}
.col3 {
    margin-left: 70px;
}
.col4 {
    margin-left: 105px;
}
.row2 {
    margin-top: 35px;
}
.row3 {
    margin-top: 70px;
}
.row4 {
    margin-top: 105px;
}





#mangoes {
    position: absolute;
    top: 80px;
    left: 70px;
}
.mango-look {
    width: 25px;
    height: 25px;
    background: linear-gradient(yellow, orange);
}
.mango1 {
    position: absolute;
    top: 0px;
    left: 12px;
    rotate: -15deg;
}
.mango2 {
    position: absolute;
    top: 25px;
    left: 0px;
    rotate: 5deg;
}
.mango3 {
    position: absolute;
    top: 20px;
    left: 25px;
    rotate: 0deg;
}
.mango4 {
    position: absolute;
    top: 50px;
    left: 0px;
    rotate: 10deg;
}
.mango5 {
    position: absolute;
    top: 45px;
    left: 25px;
    rotate: -10deg;
}





#strawberries {
    position: absolute;
    top: 70px;
    left: 110px;
}
.sb1 {
    position: absolute;
    top: -10px;
    left: 25px;
    rotate: 15deg;
}
.sb2 {
    position: absolute;
    top: 10px;
    left: 60px;
    rotate: 30deg;
}
.sb3 {
    position: absolute;
    top: 0px;
    left: 45px;
    rotate: 25deg;
}
.sb4 {
    position: absolute;
    top: 15px;
    left: 75px;
    rotate: 35deg;
}
.sb5 {
    position: absolute;
    top: 0px;
    left: 0px;
}
.strawberry-outer {
    position: absolute;
    top: 0px;
    left: 0px;

    border-left: 10px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 75px solid red;
    border-radius: 10px;
}
.strawberry-inner {
    position: absolute;
    top: 5px;

    border-left: 10px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 75px solid coral;
    border-radius: 10px;
    transform: scale(0.5);
}





#ice-cream {
    position: absolute;
    top: 135px;
    left: 75px;

    width: 100px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(pink, lightcoral );
}

#cup {
    position: absolute;
    top: 230px;
    left: 65px;
}
.cup-bottom {
    width: 120px;
    height: 50px;
    border-radius: 50%;
    background: red;
}
.cup-front {
    position: absolute;
    top: -60px;

    width: 120px;
    height: 85px;
    background: linear-gradient(coral, red);
}
.cup-rim {
    position: absolute;
    top: -65px;
    left: -10px;

    width: 130px;
    height: 0px;
    border-radius: 50%;
    border: 5px solid lightgray;
}





#title {
    position: absolute;
    top: -40px;
    left: 18px;

    color: white;
    line-height: 0;
    text-align: center;
}
.title-kulu {
    font-size: 30px;
}
.title-desserts {
    font-size: 12px;
}