#waffle {
    position: absolute;
    top: 50px;
    left: 50px;
    rotate: 45deg;
}
.waffle-base {
    width: 145px;
    height: 145px;
    border-radius: 10px;
    background: linear-gradient(-45deg,coral,brown);
}
.waffle-circle {
    position: absolute;
    rotate: -45deg;
    top: 5px;
    left: 5px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(coral,brown);
}
.col2 {
    margin-left: 35px;
}
.col3 {
    margin-left: 70px;
}
.col4 {
    margin-left: 105px;
}
.row2 {
    margin-top: 35px;
}
.row3 {
    margin-top: 70px;
}
.row4 {
    margin-top: 105px;
}



#mangoes {
    position: absolute;
    top: 90px;
    left: 70px;
}
.mango-look {
    width: 25px;
    height: 25px;
    background: linear-gradient(yellow, orange);
}
.mango1 {
    position: absolute;
    top: 0px;
    left: 12px;
    rotate: -15deg;
}
.mango2 {
    position: absolute;
    top: 25px;
    left: 0px;
    rotate: 5deg;
}
.mango3 {
    position: absolute;
    top: 20px;
    left: 25px;
    rotate: 0deg;
}
.mango4 {
    position: absolute;
    top: 50px;
    left: 0px;
    rotate: 10deg;
}
.mango5 {
    position: absolute;
    top: 45px;
    left: 25px;
    rotate: -10deg;
}





